Kod_PPD	No_Pusat	Nama_Pusat	Bil_Calon_Pusat	Nama_Bilik_Kebal	Dikemaskini_Oleh	Tarikh_Kemaskini
BA	BA001	SEKOLAH MENENGAH KEBANGSAAN DATO HAMZAH	186			
BA	BA005	SEKOLAH MENENGAH KEBANGSAAN METHODIST (ACS)	192			
BA	BA009	SEKOLAH MENENGAH KEBANGSAAN CHUNG HWA	117			
BA	BA010	SEKOLAH MENENGAH KEBANGSAAN CHUNG HWA	217			
BA	BA013	SEKOLAH MENENGAH KEBANGSAAN CONVENT	215			
BA	BA017	SEKOLAH MENENGAH KEBANGSAAN TINGGI KLANG	178			
BA	BA021	SEKOLAH MENENGAH KEBANGSAAN KWANG HUA	212			
BA	BA022	SEKOLAH MENENGAH KEBANGSAAN KWANG HUA	188			
BA	BA023	SEKOLAH MENENGAH KEBANGSAAN KWANG HUA	214			
BA	BA025	SEKOLAH MENENGAH KEBANGSAAN LA SALLE	122			
BA	BA029	SEKOLAH MENENGAH KEBANGSAAN (P) METHODIST	242			
BA	BA033	SEKOLAH MENENGAH KEBANGSAAN (P) BUKIT KUDA	136			
BA	BA037	SEKOLAH MENENGAH KEBANGSAAN (P) RAJA ZARINA	140			
BA	BA038	SEKOLAH MENENGAH KEBANGSAAN (P) RAJA ZARINA	152			
BA	BA041	SEKOLAH MENENGAH KEBANGSAAN MERU	187			
BA	BA042	SEKOLAH MENENGAH KEBANGSAAN MERU	192			
BA	BA043	SEKOLAH MENENGAH KEBANGSAAN MERU	198			
BA	BA044	SEKOLAH MENENGAH KEBANGSAAN MERU	202			
BA	BA045	SEKOLAH MENENGAH KEBANGSAAN PULAU KETAM	44			
BA	BA049	SEKOLAH MENENGAH KEBANGSAAN RAJA MAHADI	172			
BA	BA050	SEKOLAH MENENGAH KEBANGSAAN RAJA MAHADI	201			
BA	BA053	SEKOLAH MENENGAH KEBANGSAAN RAJA LUMU	122			
BA	BA057	SEKOLAH MENENGAH KEBANGSAAN TENGKU AMPUAN RAHIMAH	148			
BA	BA058	SEKOLAH MENENGAH KEBANGSAAN TENGKU AMPUAN RAHIMAH	96			
BA	BA061	SEKOLAH MENENGAH KEBANGSAAN TENGKU AMPUAN JEMAAH	184			
BA	BA062	SEKOLAH MENENGAH KEBANGSAAN TENGKU AMPUAN JEMAAH	136			
BA	BA065	SEKOLAH MENENGAH KEBANGSAAN TENGKU IDRIS SHAH	195			
BA	BA066	SEKOLAH MENENGAH KEBANGSAAN TENGKU IDRIS SHAH	199			
BA	BA069	SEKOLAH MENENGAH KEBANGSAAN SULTAN ABDUL SAMAD	157			
BA	BA073	SEKOLAH MENENGAH KEBANGSAAN PULAU INDAH	171			
BA	BA074	SEKOLAH MENENGAH KEBANGSAAN PULAU INDAH	189			
BA	BA081	SEKOLAH MENENGAH KEBANGSAAN RANTAU PANJANG	234			
BA	BA082	SEKOLAH MENENGAH KEBANGSAAN RANTAU PANJANG	201			
BA	BA083	SEKOLAH MENENGAH KEBANGSAAN RANTAU PANJANG	113			
BA	BA085	SEKOLAH MENENGAH KEBANGSAAN (P) KAPAR	201			
BA	BA089	SEKOLAH MENENGAH KEBANGSAAN PENDAMARAN JAYA	150			
BA	BA090	SEKOLAH MENENGAH KEBANGSAAN PENDAMARAN JAYA	161			
BA	BA093	SEKOLAH MENENGAH KEBANGSAAN TELOK GADONG	244			
BA	BA094	SEKOLAH MENENGAH KEBANGSAAN TELOK GADONG	226			
BA	BA097	KOLEJ ISLAM SULTAN ALAM SHAH	231			
BA	BA098	KOLEJ ISLAM SULTAN ALAM SHAH	84			
BA	BA101	SEKOLAH MENENGAH KEBANGSAAN JALAN KEBUN	227			
BA	BA102	SEKOLAH MENENGAH KEBANGSAAN JALAN KEBUN	216			
BA	BA103	SEKOLAH MENENGAH KEBANGSAAN JALAN KEBUN	198			
BA	BA105	SEKOLAH MENENGAH KEBANGSAAN SRI ANDALAS	207			
BA	BA106	SEKOLAH MENENGAH KEBANGSAAN SRI ANDALAS	166			
BA	BA109	SEKOLAH MENENGAH KEBANGSAAN TAMAN KLANG UTAMA	130			
BA	BA110	SEKOLAH MENENGAH KEBANGSAAN TAMAN KLANG UTAMA	138			
BA	BA113	SEKOLAH MENENGAH KEBANGSAAN KAMPUNG JAWA	184			
BA	BA114	SEKOLAH MENENGAH KEBANGSAAN KAMPUNG JAWA	174			
BA	BA117	SEKOLAH MENENGAH KEBANGSAAN KOTA KEMUNING	240			
BA	BA118	SEKOLAH MENENGAH KEBANGSAAN KOTA KEMUNING	246			
BA	BA119	SEKOLAH MENENGAH KEBANGSAAN KOTA KEMUNING	247			
BA	BA121	SMK BANDAR BARU SULTAN SULEIMAN	177			
BA	BA125	SEKOLAH MENENGAH KEBANGSAAN SUNGAI KAPAR INDAH	237			
BA	BA126	SEKOLAH MENENGAH KEBANGSAAN SUNGAI KAPAR INDAH	230			
BA	BA129	SEKOLAH MENENGAH KEBANGSAAN SHAHBANDARAYA	157			
BA	BA129	SM ZENITH, KLANG	9			
BA	BA130	SEKOLAH MENENGAH KEBANGSAAN SHAHBANDARAYA	204			
BA	BA134	SEKOLAH MENENGAH KEBANGSAAN BATU UNJUR	196			
BA	BA135	SEKOLAH MENENGAH KEBANGSAAN BATU UNJUR	133			
BA	BA138	SAMT SULTAN HISAMUDDIN	147			
BA	BA140	SAM SULTAN HISAMUDDIN	127			
BA	BA142	SAM NURUL IMAN	90			
BA	BA145	MAAHAD INTEGRASI TAHFIZ SAINS DAN TEKNOLOGI KLANG	50			
BA	BA148	SEKOLAH MENENGAH KEBANGSAAN BUKIT TINGGI KLANG	123			
BA	BA149	SEKOLAH MENENGAH KEBANGSAAN BUKIT TINGGI KLANG	153			
BA	BA152	SEKOLAH MENENGAH KEBANGSAAN BUKIT KAPAR	102			
BA	BA153	SEKOLAH MENENGAH KEBANGSAAN BUKIT KAPAR	138			
BA	BA550	SM PIN HWA	99			
BA	BA552	SM HIN HUA	142			
BA	BA553	SM HIN HUA	242			
BA	BA554	SM KWANG HUA	88			
BA	BA556	SM CHUNG HUA (PSDN)	66			
BA	BA560	SM IBN KHALDUN	104			
BA	BA564	SM HAFIZ	56			
BA	BA566	SEKOLAH METHODIST WESLEY	35			
BA	BA568	SM SRI ACMAR	55			
BA	BA570	SM BEACONHOUSE SRI LETHIA	45			
BB	BB001	SEKOLAH MENENGAH KEBANGSAAN METHODIST	203			
BB	BB009	SEKOLAH MENENGAH KEBANGSAAN TANJUNG SEPAT	126			
BB	BB013	SEKOLAH MENENGAH KEBANGSAAN SUNGAI MANGGIS	145			
BB	BB017	SEKOLAH MENENGAH KEBANGSAAN JENJAROM	199			
BB	BB018	SEKOLAH MENENGAH KEBANGSAAN JENJAROM	193			
BB	BB021	SEKOLAH MENENGAH KEBANGSAAN JUGRA	144			
BB	BB022	SEKOLAH MENENGAH KEBANGSAAN JUGRA	185			
BB	BB025	SEKOLAH MENENGAH KEBANGSAAN TELOK DATOK	51			
BB	BB029	SEKOLAH MENENGAH KEBANGSAAN BATU LAUT	107			
BB	BB033	SEKOLAH MENENGAH KEBANGSAAN TELOK PANGLIMA GARANG	167			
BB	BB034	SEKOLAH MENENGAH KEBANGSAAN TELOK PANGLIMA GARANG	198			
BB	BB035	SEKOLAH MENENGAH KEBANGSAAN TELOK PANGLIMA GARANG	182			
BB	BB037	SEKOLAH MENENGAH KEBANGSAAN BUKIT CHANGGANG	182			
BB	BB038	SEKOLAH MENENGAH KEBANGSAAN BUKIT CHANGGANG	164			
BB	BB039	SEKOLAH MENENGAH KEBANGSAAN BUKIT CHANGGANG	119			
BB	BB041	SEKOLAH MENENGAH KEBANGSAAN PULAU CAREY	29			
BB	BB045	SEKOLAH MENENGAH KEBANGSAAN BANTING	122			
BB	BB046	SEKOLAH MENENGAH KEBANGSAAN BANTING	117			
BB	BB049	SEKOLAH MENENGAH KEBANGSAAN SIJANGKANG JAYA	173			
BB	BB050	SEKOLAH MENENGAH KEBANGSAAN SIJANGKANG JAYA	209			
BB	BB051	SEKOLAH MENENGAH KEBANGSAAN SIJANGKANG JAYA	112			
BB	BB053	SEKOLAH MENENGAH KEBANGSAAN BANDAR BANTING	174			
BB	BB054	SEKOLAH MENENGAH KEBANGSAAN BANDAR BANTING	201			
BB	BB057	SAMT TENGKU AMPUAN RAHIMAH	156			
BB	BB061	SAM UNWANUS SAADAH	106			
BB	BB065	MAAHAD INTEGRASI TAHFIZ SELANGOR ISTANA BANDAR (MITTS)	44			
BB	BB065	MAAHAD IMTIYAZ INTEGRASI ILMUAN ULUL ALBAB	24			
BB	BB069	SEKOLAH MENENGAH SAINS BANTING	179			
BB	BB073	SEKOLAH MENENGAH KEBANGSAAN BANDAR SAUJANA PUTRA	151			
BB	BB074	SEKOLAH MENENGAH KEBANGSAAN BANDAR SAUJANA PUTRA	212			
BB	BB900	SMK TELOK DATOK (CP)	62			
BB	BB901	SMK BANTING (CP)	121			
BB	BB902	SMK SUNGAI MANGGIS (CP)	93			
BC	BC005	SEKOLAH MENENGAH KEBANGSAAN SULTAN SULAIMAN SHAH	139			
BC	BC009	SEKOLAH MENENGAH KEBANGSAAN SERI DESA	110			
BC	BC013	SEKOLAH MENENGAH KEBANGSAAN SERI TANJUNG	210			
BC	BC017	SEKOLAH MENENGAH KEBANGSAAN DATO HARUN	120			
BC	BC018	SEKOLAH MENENGAH KEBANGSAAN DATO HARUN	132			
BC	BC021	SEKOLAH MENENGAH KEBANGSAAN RAJA MUDA MUSA	205			
BC	BC021	KOLEJ VOKASIONAL KUALA SELANGOR	10			
BC	BC022	SEKOLAH MENENGAH KEBANGSAAN RAJA MUDA MUSA	58			
BC	BC025	SEKOLAH MENENGAH KEBANGSAAN JERAM	186			
BC	BC029	SEKOLAH MENENGAH KEBANGSAAN SG. BURONG	85			
BC	BC033	SEKOLAH MENENGAH KEBANGSAAN TIRAM JAYA	104			
BC	BC037	SEKOLAH MENENGAH KEBANGSAAN RANTAU PANJANG	53			
BC	BC041	SEKOLAH MENENGAH KEBANGSAAN PENGKALAN PERMATANG	141			
BC	BC045	SEKOLAH MENENGAH KEBANGSAAN AGAMA KUALA SELANGOR	133			
BC	BC049	SEKOLAH MENENGAH SAINS KUALA SELANGOR	144			
BC	BC053	SEKOLAH MENENGAH KEBANGSAAN SAUJANA UTAMA	243			
BC	BC054	SEKOLAH MENENGAH KEBANGSAAN SAUJANA UTAMA	235			
BC	BC055	SEKOLAH MENENGAH KEBANGSAAN SAUJANA UTAMA	166			
BC	BC057	SEKOLAH MENENGAH KEBANGSAAN PUNCAK ALAM	223			
BC	BC058	SEKOLAH MENENGAH KEBANGSAAN PUNCAK ALAM	213			
BC	BC061	SAM JERAM	103			
BC	BC065	SAM TANJONG KARANG	112			
BC	BC069	SEKOLAH MENENGAH KEBANGSAAN KUALA SELANGOR	229			
BC	BC073	SEKOLAH MENENGAH KEBANGSAAN BUKIT KUCHING TENGAH	142			
BC	BC074	SEKOLAH MENENGAH KEBANGSAAN BUKIT KUCHING TENGAH	128			
BC	BC077	SEKOLAH MENENGAH KEBANGSAAN PUNCAK ALAM 3	185			
BC	BC078	SEKOLAH MENENGAH KEBANGSAAN PUNCAK ALAM 3	115			
BC	BC081	SEKOLAH INTEGRITI PUNCAK ALAM	5			
BC	BC082	SEKOLAH MENENGAH KEBANGSAAN BANDAR SAUJANA UTAMA (2)	207			
BC	BC550	SM ISLAM HIRA	55			
BC	BC551	SM WESLEY METHODIST	36			
BC	BC551	SEKOLAH MENENGAH AZ-ZAHRAWI	7			
BC	BC901	SMK RAJA MUDA MUSA (CP)	105			
BD	BD001	SEKOLAH MENENGAH KEBANGSAAN CONVENT	138			
BD	BD005	SEKOLAH MENENGAH KEBANGSAAN TINGGI KAJANG	154			
BD	BD009	SEKOLAH MENENGAH KEBANGSAAN YU HUA	203			
BD	BD010	SEKOLAH MENENGAH KEBANGSAAN YU HUA	189			
BD	BD011	SEKOLAH MENENGAH KEBANGSAAN YU HUA	166			
BD	BD013	SEKOLAH MENENGAH KEBANGSAAN JALAN BUKIT	141			
BD	BD014	SEKOLAH MENENGAH KEBANGSAAN JALAN BUKIT	157			
BD	BD017	SEKOLAH MENENGAH KEBANGSAAN TAMAN TASIK	120			
BD	BD018	SEKOLAH MENENGAH KEBANGSAAN TAMAN TASIK	117			
BD	BD021	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU BANGI	204			
BD	BD022	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU BANGI	214			
BD	BD025	SEKOLAH MENENGAH KEBANGSAAN SULTAN ABDUL AZIZ SHAH	186			
BD	BD026	SEKOLAH MENENGAH KEBANGSAAN SULTAN ABDUL AZIZ SHAH	178			
BD	BD029	SEKOLAH MENENGAH KEBANGSAAN KHIR JOHARI	165			
BD	BD033	SEKOLAH MENENGAH KEBANGSAAN ABDUL JALIL	221			
BD	BD034	SEKOLAH MENENGAH KEBANGSAAN ABDUL JALIL	224			
BD	BD037	SEKOLAH MENENGAH KEBANGSAAN ENGKU HUSAIN	158			
BD	BD038	SEKOLAH MENENGAH KEBANGSAAN ENGKU HUSAIN	198			
BD	BD039	SEKOLAH MENENGAH KEBANGSAAN ENGKU HUSAIN	161			
BD	BD041	SEKOLAH MENENGAH KEBANGSAAN TAMAN KOSAS	158			
BD	BD042	SEKOLAH MENENGAH KEBANGSAAN TAMAN KOSAS	143			
BD	BD045	SEKOLAH MENENGAH KEBANGSAAN TAMAN SERAYA	155			
BD	BD046	SEKOLAH MENENGAH KEBANGSAAN TAMAN SERAYA	155			
BD	BD049	SEKOLAH MENENGAH KEBANGSAAN PERIMBUN	211			
BD	BD050	SEKOLAH MENENGAH KEBANGSAAN PERIMBUN	174			
BD	BD053	SEKOLAH MENENGAH KEBANGSAAN AGAMA MAAHAD HAMIDIAH	142			
BD	BD057	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU AMPANG	118			
BD	BD058	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU AMPANG	141			
BD	BD061	SEKOLAH MENENGAH AGAMA PERSEKUTUAN KAJANG	138			
BD	BD065	SEKOLAH MENENGAH KEBANGSAAN TASEK PERMAI	100			
BD	BD069	SEKOLAH MENENGAH KEBANGSAAN PANDAN JAYA	129			
BD	BD070	SEKOLAH MENENGAH KEBANGSAAN PANDAN JAYA	118			
BD	BD073	SEKOLAH MENENGAH KEBANGSAAN JALAN REKO	189			
BD	BD074	SEKOLAH MENENGAH KEBANGSAAN JALAN REKO	97			
BD	BD077	SEKOLAH MENENGAH KEBANGSAAN JALAN TIGA	167			
BD	BD078	SEKOLAH MENENGAH KEBANGSAAN JALAN TIGA	178			
BD	BD081	SEKOLAH MENENGAH KEBANGSAAN PANDAN INDAH	179			
BD	BD082	SEKOLAH MENENGAH KEBANGSAAN PANDAN INDAH	156			
BD	BD085	SEKOLAH MENENGAH KEBANGSAAN CHERAS PERDANA	143			
BD	BD086	SEKOLAH MENENGAH KEBANGSAAN CHERAS PERDANA	104			
BD	BD089	SEKOLAH MENENGAH KEBANGSAAN CHERAS JAYA	189			
BD	BD090	SEKOLAH MENENGAH KEBANGSAAN CHERAS JAYA	230			
BD	BD093	SEKOLAH MENENGAH KEBANGSAAN DATO' AHMAD RAZALI	168			
BD	BD097	SEKOLAH MENENGAH KEBANGSAAN SAUJANA IMPIAN	117			
BD	BD098	SEKOLAH MENENGAH KEBANGSAAN SAUJANA IMPIAN	196			
BD	BD099	SEKOLAH MENENGAH KEBANGSAAN SAUJANA IMPIAN	226			
BD	BD101	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU SUNGAI LONG	190			
BD	BD102	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU SUNGAI LONG	147			
BD	BD103	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU SUNGAI LONG	192			
BD	BD105	SEKOLAH MENENGAH KEBANGSAAN KAJANG UTAMA	154			
BD	BD106	SEKOLAH MENENGAH KEBANGSAAN KAJANG UTAMA	152			
BD	BD109	SEKOLAH MENENGAH KEBANGSAAN BANDAR TASIK KESUMA	235			
BD	BD110	SEKOLAH MENENGAH KEBANGSAAN BANDAR TASIK KESUMA	177			
BD	BD113	SEKOLAH MENENGAH KEBANGSAAN JALAN EMPAT	182			
BD	BD114	SEKOLAH MENENGAH KEBANGSAAN JALAN EMPAT	105			
BD	BD114	SEKOLAH MENENGAH ISLAM (ABIM) SG RAMAL	22			
BD	BD117	SEKOLAH MENENGAH KEBANGSAAN TAMAN JASMIN 2	245			
BD	BD118	SEKOLAH MENENGAH KEBANGSAAN TAMAN JASMIN 2	235			
BD	BD118	KOLEJ VOKASIONAL KAJANG	6			
BD	BD121	SEKOLAH MENENGAH KEBANGSAAN BANDAR TUN HUSSEIN ONN 2	170			
BD	BD122	SEKOLAH MENENGAH KEBANGSAAN BANDAR TUN HUSSEIN ONN 2	184			
BD	BD125	SEKOLAH MENENGAH KEBANGSAAN DUSUN NANDING	118			
BD	BD126	SEKOLAH MENENGAH KEBANGSAAN DUSUN NANDING	145			
BD	BD129	SEKOLAH MENENGAH KEBANGSAAN PANDAN MEWAH	139			
BD	BD130	SEKOLAH MENENGAH KEBANGSAAN PANDAN MEWAH	127			
BD	BD133	SEKOLAH MENENGAH KEBANGSAAN BANDAR DAMAI PERDANA	140			
BD	BD134	SEKOLAH MENENGAH KEBANGSAAN BANDAR DAMAI PERDANA	182			
BD	BD137	SEKOLAH MENENGAH KEBANGSAAN BANDAR RINCHING	242			
BD	BD138	SEKOLAH MENENGAH KEBANGSAAN BANDAR RINCHING	243			
BD	BD141	SAM HULU LANGAT	148			
BD	BD145	KOLEJ PERMATA@PINTAR NEGARA	105			
BD	BD149	SEKOLAH MENENGAH KEBANGSAAN BANDAR SERI PUTRA	213			
BD	BD150	SEKOLAH MENENGAH KEBANGSAAN BANDAR SERI PUTRA	235			
BD	BD151	SEKOLAH MENENGAH KEBANGSAAN BANDAR SERI PUTRA	228			
BD	BD153	SEKOLAH MENENGAH KEBANGSAAN DESA SERDANG	223			
BD	BD157	SEKOLAH MENENGAH KEBANGSAAN SUNGAI RAMAL	141			
BD	BD158	SEKOLAH MENENGAH KEBANGSAAN SUNGAI RAMAL	141			
BD	BD162	SEKOLAH INTEGRITI WANITA KAJANG	4			
BD	BD550	SEKOLAH SERI SURIA	42			
BD	BD552	SEKOLAH BEACONHOUSE SRI MURNI	40			
BD	BD554	SEKOLAH SRI CEMPAKA CHERAS	16			
BD	BD556	SM SRI AL-AMIN BANGI	137			
BD	BD562	SM UNIVERSAL HUA XIA	95			
BD	BD564	MAAHAD INTEGRASI TAHFIZ SELANGOR, PANDAN INDAH	32			
BD	BD900	SMK JALAN EMPAT (CP)	67			
BD	BD901	SMK KHIR JOHARI (CP)	77			
BD	BD902	SMK TASEK PERMAI (CP)	43			
BD	BD903	SMK TAMAN KOSAS (CP)	103			
BD	BD904	SAM HULU LANGAT (CPFJ)	34			
BD	BD905	SMK DUSUN  NANDING (CP)	113			
BD	BD906	SEKOLAH SERI SURIA (CPLI)	171			
BD	BD907	SMK BANDAR TUN HUSSEIN ONN (2) (CP)	43			
BE	BE001	SEKOLAH MENENGAH KEBANGSAAN SYED MASHOR	169			
BE	BE002	SEKOLAH MENENGAH KEBANGSAAN SYED MASHOR	157			
BE	BE005	SEKOLAH MENENGAH KEBANGSAAN DATO' HJ KAMARUDDIN	120			
BE	BE009	SEKOLAH MENENGAH KEBANGSAAN KUALA KUBU BHARU	100			
BE	BE013	SEKOLAH MENENGAH KEBANGSAAN KAMPONG SOEHARTO	58			
BE	BE017	SEKOLAH MENENGAH KEBANGSAAN SUNGAI CHOH	121			
BE	BE021	SEKOLAH MENENGAH KEBANGSAAN KALUMPANG	66			
BE	BE025	SEKOLAH MENENGAH KEBANGSAAN GEDANGSA	34			
BE	BE029	SEKOLAH MENENGAH KEBANGSAAN BUKIT SENTOSA	235			
BE	BE030	SEKOLAH MENENGAH KEBANGSAAN BUKIT SENTOSA	222			
BE	BE033	SEKOLAH MENENGAH SAINS HULU SELANGOR	144			
BE	BE037	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU BATANG KALI	166			
BE	BE038	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU BATANG KALI	175			
BE	BE041	SEKOLAH MENENGAH KEBANGSAAN AMPANG PECAH	175			
BE	BE045	SEKOLAH MENENGAH KEBANGSAAN BANDAR SUNGAI BUAYA	175			
BE	BE049	MAKTAB RENDAH SAINS MARA KUALA KUBU BHARU	104			
BE	BE053	SEKOLAH MENENGAH KEBANGSAAN TAMAN BUNGA RAYA (1)	161			
BE	BE054	SEKOLAH MENENGAH KEBANGSAAN TAMAN BUNGA RAYA (1)	173			
BE	BE057	SEKOLAH MENENGAH KEBANGSAAN SERENDAH	144			
BE	BE058	SEKOLAH MENENGAH KEBANGSAAN SERENDAH	147			
BE	BE061	SEKOLAH MENENGAH KEBANGSAAN BUKIT SENTOSA 2	198			
BE	BE062	SEKOLAH MENENGAH KEBANGSAAN BUKIT SENTOSA 2	188			
BE	BE065	SAMT KUALA KUBU BHARU	90			
BE	BE069	SAM SUNGAI SELISEK	32			
BE	BE901	SMK AMPANG PECAH (CP)	56			
BE	BE902	SMK BUKIT SENTOSA 2 (CP)	87			
BF	BF001	MAKTAB RENDAH SAINS MARA SUNGAI BESAR	157			
BF	BF005	SEKOLAH MENENGAH KEBANGSAAN SERI BEDENA	129			
BF	BF009	SEKOLAH MENENGAH KEBANGSAAN YOKE KUAN	101			
BF	BF010	SEKOLAH MENENGAH KEBANGSAAN YOKE KUAN	135			
BF	BF013	SEKOLAH MENENGAH KEBANGSAAN UNGKU AZIZ	168			
BF	BF014	SEKOLAH MENENGAH KEBANGSAAN UNGKU AZIZ	109			
BF	BF017	SEKOLAH MENENGAH KEBANGSAAN MUNSHI ABDULLAH	105			
BF	BF021	SEKOLAH MENENGAH KEBANGSAAN SUNGAI BESAR	155			
BF	BF022	SEKOLAH MENENGAH KEBANGSAAN SUNGAI BESAR	127			
BF	BF025	SEKOLAH MENENGAH KEBANGSAAN BAGAN TERAP	123			
BF	BF030	SEKOLAH MENENGAH KEBANGSAAN AGAMA TUN RAHAH	129			
BF	BF033	SEKOLAH MENENGAH KEBANGSAAN DATO MUSTAFFA	140			
BF	BF037	SEKOLAH BERASRAMA PENUH INTEGRASI SABAK BERNAM	116			
BF	BF041	SAMT SULTAN SALAHUDDIN ABD AZIZ SHAH	113			
BF	BF045	SAM MUHAMMADIAH	89			
BF	BF049	SAM TENGKU AMPUAN JEMAAH	69			
BF	BF053	SAM PASIR PANJANG	48			
BF	BF057	SAM SUNGAI HAJI DORANI	35			
BF	BF061	SAM PARIT BARU	40			
BF	BF065	SAM BAGAN TERAP	44			
BF	BF069	MAAHAD INTEGRASI TAHFIZ SELANGOR, SABAK BERNAM	58			
BF	BF075	PUSAT PPD SABAK BERNAM	0			
BF	BF079	SMK BINJAI JAYA SEKOLAH MODEL KOMPREHENSIF 11 (K11)	15			
BF	BF500	MAAHAD INTEGRASI TAHFIZ TUNAS ILMUWAN SELANGOR(MITTIS)	16			
BG	BG001	SEKOLAH MENENGAH KEBANGSAAN GOMBAK SETIA	229			
BG	BG002	SEKOLAH MENENGAH KEBANGSAAN GOMBAK SETIA	196			
BG	BG009	SEKOLAH MENENGAH KEBANGSAAN LEMBAH KERAMAT	94			
BG	BG010	SEKOLAH MENENGAH KEBANGSAAN LEMBAH KERAMAT	155			
BG	BG013	SEKOLAH MENENGAH KEBANGSAAN TAMAN EHSAN	142			
BG	BG014	SEKOLAH MENENGAH KEBANGSAAN TAMAN EHSAN	105			
BG	BG017	SEKOLAH MENENGAH KEBANGSAAN RAWANG	204			
BG	BG021	SEKOLAH MENENGAH KEBANGSAAN TAMAN KERAMAT	136			
BG	BG025	SEKOLAH MENENGAH KEBANGSAAN SERI GOMBAK	193			
BG	BG026	SEKOLAH MENENGAH KEBANGSAAN SERI GOMBAK	211			
BG	BG029	SEKOLAH MENENGAH KEBANGSAAN HILLCREST	177			
BG	BG030	SEKOLAH MENENGAH KEBANGSAAN HILLCREST	159			
BG	BG033	SEKOLAH MENENGAH KEBANGSAAN IDEAL HEIGHTS	175			
BG	BG034	SEKOLAH MENENGAH KEBANGSAAN IDEAL HEIGHTS	95			
BG	BG037	SEKOLAH MENENGAH KEBANGSAAN TAMAN MELAWATI	181			
BG	BG038	SEKOLAH MENENGAH KEBANGSAAN TAMAN MELAWATI	232			
BG	BG041	SEKOLAH MENENGAH KEBANGSAAN SERI SELAYANG	157			
BG	BG042	SEKOLAH MENENGAH KEBANGSAAN SERI SELAYANG	147			
BG	BG045	SEKOLAH MENENGAH KEBANGSAAN SUNGAI KERTAS	157			
BG	BG046	SEKOLAH MENENGAH KEBANGSAAN SUNGAI KERTAS	106			
BG	BG049	SEKOLAH MENENGAH KEBANGSAAN SERI KERAMAT	151			
BG	BG053	SEKOLAH MENENGAH KEBANGSAAN DARUL EHSAN	240			
BG	BG054	SEKOLAH MENENGAH KEBANGSAAN DARUL EHSAN	226			
BG	BG057	SEKOLAH MENENGAH KEBANGSAAN BUKIT GADING	149			
BG	BG058	SEKOLAH MENENGAH KEBANGSAAN BUKIT GADING	157			
BG	BG061	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU SUNGAI BULOH	228			
BG	BG062	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU SUNGAI BULOH	188			
BG	BG062	KOLEJ VOKASIONAL SUNGAI BULOH	11			
BG	BG065	SEKOLAH MENENGAH KEBANGSAAN KEPONG	228			
BG	BG066	SEKOLAH MENENGAH KEBANGSAAN KEPONG	210			
BG	BG069	SEKOLAH MENENGAH KEBANGSAAN HULU KELANG	63			
BG	BG073	SEKOLAH MENENGAH KEBANGSAAN SELAYANG BHARU	143			
BG	BG074	SEKOLAH MENENGAH KEBANGSAAN SELAYANG BHARU	164			
BG	BG077	SEKOLAH MENENGAH KEBANGSAAN SERI GARING	134			
BG	BG078	SEKOLAH MENENGAH KEBANGSAAN SERI GARING	158			
BG	BG081	SEKOLAH MENENGAH KEBANGSAAN TUANKU ABDUL RAHMAN	121			
BG	BG085	SEKOLAH MENENGAH KEBANGSAAN SUNGAI PUSU	179			
BG	BG086	SEKOLAH MENENGAH KEBANGSAAN SUNGAI PUSU	213			
BG	BG089	SEKOLAH MENENGAH KEBANGSAAN BUKIT INDAH	234			
BG	BG093	SEKOLAH MENENGAH KEBANGSAAN BUKIT RAHMAN PUTRA	230			
BG	BG094	SEKOLAH MENENGAH KEBANGSAAN BUKIT RAHMAN PUTRA	177			
BG	BG097	SEKOLAH MENENGAH KEBANGSAAN BANDAR TASIK PUTERI	199			
BG	BG098	SEKOLAH MENENGAH KEBANGSAAN BANDAR TASIK PUTERI	161			
BG	BG099	SEKOLAH MENENGAH KEBANGSAAN BANDAR TASIK PUTERI	135			
BG	BG101	SEKOLAH MENENGAH KEBANGSAAN TAMAN DESA	127			
BG	BG102	SEKOLAH MENENGAH KEBANGSAAN TAMAN DESA	189			
BG	BG105	SEKOLAH BERASRAMA PENUH INTEGRASI RAWANG	112			
BG	BG109	SEKOLAH BERASRAMA PENUH INTEGRASI GOMBAK	118			
BG	BG113	SEKOLAH MENENGAH KEBANGSAAN SERI KUNDANG	160			
BG	BG114	SEKOLAH MENENGAH KEBANGSAAN SERI KUNDANG	133			
BG	BG117	SAM RAWANG	113			
BG	BG121	SAM PAYA JARAS	98			
BG	BG125	SEKOLAH MENENGAH KEBANGSAAN TAMAN DESA 2	216			
BG	BG126	SEKOLAH MENENGAH KEBANGSAAN TAMAN DESA 2	245			
BG	BG129	SEKOLAH MENENGAH KEBANGSAAN TUN PERAK	164			
BG	BG130	SEKOLAH MENENGAH KEBANGSAAN TUN PERAK	91			
BG	BG133	SEKOLAH MENENGAH KEBANGSAAN SIERRAMAS	207			
BG	BG552	SM ISLAM AL- AMIN	165			
BG	BG556	SM ISLAM ADNI	31			
BG	BG558	SM SETIABUDI	121			
BG	BG906	SMK BUKIT RAHMAN PUTRA (CP)	58			
BG	BG907	SAM RAWANG (CPFJ)	66			
BH	BH001	SEKOLAH MENENGAH KEBANGSAAN PUCHONG	146			
BH	BH002	SEKOLAH MENENGAH KEBANGSAAN PUCHONG	205			
BH	BH005	SMK SULTAN SALAHUDDIN ABDUL AZIZ SHAH	201			
BH	BH009	SEKOLAH MENENGAH KEBANGSAAN SUBANG JAYA	153			
BH	BH013	SEKOLAH MENENGAH KEBANGSAAN SERI SERDANG	183			
BH	BH014	SEKOLAH MENENGAH KEBANGSAAN SERI SERDANG	140			
BH	BH021	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 16	149			
BH	BH022	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 16	170			
BH	BH025	SEKOLAH MENENGAH KEBANGSAAN SUBANG UTAMA	190			
BH	BH029	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN SEBELAS	52			
BH	BH033	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 18	198			
BH	BH033	KOLEJ VOKASIONAL SHAH ALAM	9			
BH	BH037	SEKOLAH MENENGAH KEBANGSAAN SEAFIELD	132			
BH	BH038	SEKOLAH MENENGAH KEBANGSAAN SEAFIELD	84			
BH	BH045	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 19	249			
BH	BH046	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 19	236			
BH	BH049	SEKOLAH MENENGAH KEBANGSAAN ALAM MEGAH	186			
BH	BH053	SEKOLAH MENENGAH KEBANGSAAN TAMAN SRI MUDA	210			
BH	BH054	SEKOLAH MENENGAH KEBANGSAAN TAMAN SRI MUDA	155			
BH	BH057	SEKOLAH MENENGAH KEBANGSAAN SS 17	82			
BH	BH061	SEKOLAH MENENGAH KEBANGSAAN BANDAR SUNWAY	175			
BH	BH065	SEKOLAH MENENGAH KEBANGSAAN SERI INDAH	219			
BH	BH069	SEKOLAH MENENGAH KEBANGSAAN PUCHONG PERDANA	215			
BH	BH070	SEKOLAH MENENGAH KEBANGSAAN PUCHONG PERDANA	220			
BH	BH073	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 9	142			
BH	BH074	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 9	192			
BH	BH077	SEKOLAH MENENGAH KEBANGSAAN SUBANG	166			
BH	BH078	SEKOLAH MENENGAH KEBANGSAAN SUBANG	181			
BH	BH079	SEKOLAH MENENGAH KEBANGSAAN SUBANG	182			
BH	BH081	SEKOLAH MENENGAH KEBANGSAAN USJ 4	160			
BH	BH085	SEKOLAH MENENGAH KEBANGSAAN USJ 13	140			
BH	BH086	SEKOLAH MENENGAH KEBANGSAAN USJ 13	210			
BH	BH089	SEKOLAH MENENGAH KEBANGSAAN USJ 8	191			
BH	BH093	SEKOLAH MENENGAH KEBANGSAAN USJ 12	138			
BH	BH094	SEKOLAH MENENGAH KEBANGSAAN USJ 12	158			
BH	BH097	SEKOLAH MENENGAH KEBANGSAAN PUCHONG UTAMA (1)	169			
BH	BH098	SEKOLAH MENENGAH KEBANGSAAN PUCHONG UTAMA (1)	179			
BH	BH099	SEKOLAH MENENGAH KEBANGSAAN PUCHONG UTAMA (1)	170			
BH	BH101	SEKOLAH MENENGAH KEBANGSAAN TTDI JAYA	173			
BH	BH102	SEKOLAH MENENGAH KEBANGSAAN TTDI JAYA	183			
BH	BH105	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 1 BANDAR KINRARA	190			
BH	BH109	SEKOLAH MENENGAH KEBANGSAAN USJ 23	167			
BH	BH113	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 3 BANDAR KINRARA	153			
BH	BH114	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 3 BANDAR KINRARA	137			
BH	BH117	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 4 BANDAR KINRARA	220			
BH	BH118	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 4 BANDAR KINRARA	209			
BH	BH121	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 7	206			
BH	BH122	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 7	215			
BH	BH125	SEKOLAH MENENGAH KEBANGSAAN PUSAT BANDAR PUCHONG 1	164			
BH	BH126	SEKOLAH MENENGAH KEBANGSAAN PUSAT BANDAR PUCHONG 1	183			
BH	BH127	SEKOLAH MENENGAH KEBANGSAAN PUSAT BANDAR PUCHONG 1	174			
BH	BH129	SEKOLAH MENENGAH KEBANGSAAN BUKIT JELUTONG	119			
BH	BH130	SEKOLAH MENENGAH KEBANGSAAN BUKIT JELUTONG	203			
BH	BH133	SEKOLAH MENENGAH KEBANGSAAN ALAM MEGAH 2	228			
BH	BH137	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 24 (2)	171			
BH	BH138	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 24 (2)	159			
BH	BH141	SEKOLAH MENENGAH KEBANGSAAN BANDAR PUCHONG JAYA (A)	154			
BH	BH145	SEKOLAH MENENGAH KEBANGSAAN BANDAR PUCHONG JAYA (B)	137			
BH	BH146	SEKOLAH MENENGAH KEBANGSAAN BANDAR PUCHONG JAYA (B)	133			
BH	BH149	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 27	219			
BH	BH153	SEKOLAH MENENGAH KEBANGSAAN SERI KEMBANGAN	183			
BH	BH154	SEKOLAH MENENGAH KEBANGSAAN SERI KEMBANGAN	189			
BH	BH155	SEKOLAH MENENGAH KEBANGSAAN SERI KEMBANGAN	179			
BH	BH157	SAMT TENGKU AMPUAN JEMAAH	123			
BH	BH161	SAM BESTARI	103			
BH	BH165	SEKOLAH MENENGAH KEBANGSAAN PUCHONG PERMAI	175			
BH	BH166	SEKOLAH MENENGAH KEBANGSAAN PUCHONG PERMAI	194			
BH	BH169	SEKOLAH MENENGAH KEBANGSAAN SUBANG BESTARI	127			
BH	BH170	SEKOLAH MENENGAH KEBANGSAAN SUBANG BESTARI	205			
BH	BH171	SEKOLAH MENENGAH KEBANGSAAN SUBANG BESTARI	218			
BH	BH174	SEKOLAH MENENGAH KEBANGSAAN TAMAN DESAMINIUM	193			
BH	BH175	SEKOLAH MENENGAH KEBANGSAAN TAMAN DESAMINIUM	186			
BH	BH178	SEKOLAH MENENGAH KEBANGSAAN SETIA ALAM	168			
BH	BH179	SEKOLAH MENENGAH KEBANGSAAN SETIA ALAM	134			
BH	BH182	SEKOLAH MENENGAH KEBANGSAAN SHAH ALAM	124			
BH	BH183	SEKOLAH MENENGAH KEBANGSAAN SHAH ALAM	139			
BH	BH185	SEKOLAH MENENGAH KEBANGSAAN BANDAR PUNCAK JALIL	236			
BH	BH550	SM SRI KUALA LUMPUR	232			
BH	BH554	SM SRI UCSI	68			
BH	BH558	SM SERI CAHAYA	69			
BH	BH562	MAAHAD SAINS AL-QURAN AL-AMIN	8			
BH	BH566	SM ISLAM DARUL EHSAN	27			
BH	BH569	SM BINA INSAN	72			
BH	BH582	SM SRI TENBY	92			
BH	BH585	SEKOLAH MENENGAH PENINSULA	4			
BH	BH905	SMK SERI INDAH (CP)	50			
BH	BH909	SMK ALAM MEGAH 2 (CP)	90			
BH	BH910	SMK BANDAR PUCHONG JAYA (A) (CP)	169			
BH	BH914	SMK SHAH ALAM (CP)	106			
BH	BH915	SMK SULTAN SALAHUDDIN ABDUL AZIZ SHAH (CP)	134			
BH	BH916	SMK USJ 4 (CP)	90			
BH	BH917	SMK PUCHONG (CP)	92			
BJ	BJ001	SEKOLAH MENENGAH KEBANGSAAN SUNGAI PELEK	199			
BJ	BJ005	SEKOLAH MENENGAH KEBANGSAAN DENGKIL	223			
BJ	BJ006	SEKOLAH MENENGAH KEBANGSAAN DENGKIL	137			
BJ	BJ009	SEKOLAH MENENGAH KEBANGSAAN SUNGAI RAWANG	93			
BJ	BJ013	SEKOLAH MENENGAH KEBANGSAAN SERI SEPANG	214			
BJ	BJ014	SEKOLAH MENENGAH KEBANGSAAN SERI SEPANG	235			
BJ	BJ025	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU SALAK TINGGI	163			
BJ	BJ026	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU SALAK TINGGI	205			
BJ	BJ027	SEKOLAH MENENGAH KEBANGSAAN BANDAR BARU SALAK TINGGI	155			
BJ	BJ037	SEKOLAH MENENGAH KEBANGSAAN SERI PUTERI	176			
BJ	BJ041	SEKOLAH MENENGAH KEBANGSAAN CYBERJAYA	220			
BJ	BJ042	SEKOLAH MENENGAH KEBANGSAAN CYBERJAYA	175			
BJ	BJ045	SEKOLAH MENENGAH KEBANGSAAN PANTAI SEPANG PUTRA	84			
BJ	BJ049	SEKOLAH MENENGAH KEBANGSAAN PUTRA PERDANA	210			
BJ	BJ050	SEKOLAH MENENGAH KEBANGSAAN PUTRA PERDANA	215			
BJ	BJ051	SEKOLAH MENENGAH KEBANGSAAN PUTRA PERDANA	212			
BJ	BJ053	SAM BANDAR BARU SALAK TINGGI	161			
BJ	BJ057	SAM SUNGAI MERAB LUAR	77			
BJ	BJ057	KOLEJ VOKASIONAL SEPANG	0			
BJ	BJ061	SEKOLAH MENENGAH KEBANGSAAN DATO' ABU BAKAR BAGINDA	131			
BJ	BJ062	SEKOLAH MENENGAH KEBANGSAAN DATO' ABU BAKAR BAGINDA	191			
BJ	BJ065	MAAHAD INTEGRASI TAHFIZ SELANGOR (MITS) BAGAN LALANG	48			
BJ	BJ550	SEKOLAH KIBLAH	57			
BJ	BJ552	SEKOLAH MENENGAH RAFFLESIA	39			
BJ	BJ554	SEKOLAH MENENGAH ABEDEEN	14			
BJ	BJ900	SMK PANTAI SEPANG PUTRA (CP)	114			
BJ	BJ901	SMK SERI SEPANG (CP)	35			
BJ	BJ902	SMK DATO' ABU BAKAR BAGINDA (CP)	79			
BJ	BJ903	SAM BANDAR BARU SALAK TINGGI (CPFJ)	30			
BK	BK001	SEKOLAH MENENGAH KEBANGSAAN ASSUNTA	205			
BK	BK005	SEKOLAH MENENGAH KEBANGSAAN (L) BUKIT BINTANG	67			
BK	BK009	SEKOLAH MENENGAH KEBANGSAAN KATHOLIK	198			
BK	BK010	SEKOLAH MENENGAH KEBANGSAAN KATHOLIK	159			
BK	BK011	SEKOLAH MENENGAH KEBANGSAAN KATHOLIK	179			
BK	BK013	SEKOLAH MENENGAH KEBANGSAAN LA SALLE PJ	132			
BK	BK017	SEKOLAH MENENGAH KEBANGSAAN (P) SRI AMAN	156			
BK	BK021	SEKOLAH MENENGAH KEBANGSAAN TAMAN SEA	111			
BK	BK022	SEKOLAH MENENGAH KEBANGSAAN TAMAN SEA	124			
BK	BK025	SEKOLAH MENENGAH KEBANGSAAN SULTAN ABDUL SAMAD	231			
BK	BK029	SEKOLAH MENENGAH KEBANGSAAN (P) TMN PETALING	62			
BK	BK033	SEKOLAH MENENGAH KEBANGSAAN SRI PERMATA	208			
BK	BK037	SEKOLAH MENENGAH KEBANGSAAN TAMAN DATO' HARUN	143			
BK	BK038	SEKOLAH MENENGAH KEBANGSAAN TAMAN DATO' HARUN	122			
BK	BK041	SEKOLAH MENENGAH KEBANGSAAN DAMANSARA JAYA	217			
BK	BK045	SEKOLAH MENENGAH KEBANGSAAN DAMANSARA UTAMA	194			
BK	BK049	SEKOLAH MENENGAH KEBANGSAAN TAMAN MEDAN	159			
BK	BK050	SEKOLAH MENENGAH KEBANGSAAN TAMAN MEDAN	103			
BK	BK053	SEKOLAH MENENGAH KEBANGSAAN KELANA JAYA	97			
BK	BK057	SEKOLAH MENENGAH KEBANGSAAN SRI UTAMA	56			
BK	BK065	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 10 KOTA DAMANSARA	167			
BK	BK066	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 10 KOTA DAMANSARA	119			
BK	BK069	SEKOLAH MENENGAH KEBANGSAAN TROPICANA	205			
BK	BK073	SEKOLAH MENENGAH KEBANGSAAN BANDAR SRI DAMANSARA 2	193			
BK	BK077	SEKOLAH MENENGAH KEBANGSAAN BANDAR UTAMA DAMANSARA 3	212			
BK	BK081	SEKOLAH MENENGAH KEBANGSAAN BANDAR UTAMA DAMANSARA (4)	211			
BK	BK085	SEKOLAH MENENGAH KEBANGSAAN DAMANSARA DAMAI 1	176			
BK	BK086	SEKOLAH MENENGAH KEBANGSAAN DAMANSARA DAMAI 1	170			
BK	BK089	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 4 KOTA DAMANSARA	163			
BK	BK093	SEKOLAH MENENGAH KEBANGSAAN BANDAR UTAMA DAMANSARA (2)	126			
BK	BK097	SEKOLAH MENENGAH KEBANGSAAN BANDAR SRI DAMANSARA 1	95			
BK	BK098	SEKOLAH MENENGAH KEBANGSAAN BANDAR SRI DAMANSARA 1	173			
BK	BK101	SEKOLAH MENENGAH KEBANGSAAN LEMBAH SUBANG	132			
BK	BK105	SEKOLAH MENENGAH KEBANGSAAN SEKSYEN 8 KOTA DAMANSARA	145			
BK	BK550	SEKOLAH SRI BESTARI	87			
BK	BK554	SM SRI KDU	158			
BK	BK566	SM BESTARI ASIA PACIFIC	72			
BK	BK900	SMK ASSUNTA (CP)	100			
BK	BK905	SMK DAMANSARA DAMAI 1 (CP)	70			
BK	BK923	SMK (L) BUKIT BINTANG (CP)	90			
BK	BK924	SMK SRI UTAMA (CP)	85			
BK	AA	SMK BANDAR UTAMA DAMANSARA (4) (CP)	75			
BK	BK927	SMK LEMBAH SUBANG (CP)	68			
